body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* --------header------- */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  padding: 24px 0;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* --------header------- */

/*--------section hero-------- */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  height: 56px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*--------section hero-------- */

/*--------section advantages-------- */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.advantages-items {
  width: calc((100% - 24px * 3) / 4);
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------section advantages-------- */

/*--------section team-------- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-items {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*--------section team-------- */

/*--------section portfolio-------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-items {
  width: calc(100%- (2 * 24) / 3);
}

.portfolio-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-photo-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*--------section portfolio-------- */

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-part {
  color: #f4f4fd;
}

.page-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
